@import url('../../index.module.css');

.dropdown-filter {
    position: relative;
    min-width: 180px;
    font-family: "Geometria Medium";
    color: var(--black-color);
    font-size: 12px;
    font-weight: 500;
    background: var(--white-color);
    background-image: url('../../assets/svg/filter-icon.svg');
    background-size: 20px;
    background-position: calc(100% - 17px) center;
    background-repeat: no-repeat;
}

.dropdown-filter--btn {
    width: 100%;
    height: 100%;
    text-align: left;
}

.dropdown-filter__menu {
    position: absolute;
    display: none;
    padding: 8px 5px;
    flex-direction: column;
    background-color: var(--white-color);
    gap: 3px;
}

.dropdown-filter__menu--open {
    display: flex;
}

.dropdown-filter__option {
    padding: 12px 0 7px 17px;
    text-align: left;
    font-size: 12px;
    border-radius: 5px;
}

.dropdown-filter__option:active {
    background: rgba(73, 194, 232, 0.11);
}

@media screen and (max-width: 650px) {
    .dropdown-filter {
        min-width: 54px;
        font-size: 0;
    }
}