@import url('../../index.module.css');

.header {
    display: flex;
    margin-bottom: 74.71px;
    padding: 22px 0 21.29px 123px;
    width: 100%;
    align-items: center;
    vertical-align: text-top;
    overflow: visible;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
}

.header__logo--wrapper {
    position: relative;
    --size: 42px;
    margin-right: 45px;
    width: var(--size);
    height: var(--size);
}

.header__logo {
    position: absolute;
    width: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__header-text {
    display: inline;
    color: var(--black-color);
    font-family: "Geometria Medium";
    font-size: 20px;
    line-height: 10px;
}

.header__header-text--git {
    color: var(--blue-color);
}

@media screen and (max-width: 1200px) {
    .header {
        margin-bottom: 39px;
        padding-left: 29px;
    }

    .header__logo--wrapper {
        margin-right: 26px;
    }
}