@import url(../../index.module.css);

.students__header {
    margin-bottom: 47px;
    width: 302px;
    height: 35px;
    font-family: "Geometria Bold";
    color: var(--black-color);
    font-size: 40px;
    line-height:29px;
}

.students__filters--wrapper {
    margin-bottom: 35px;
}

@media screen and (max-width: 1200px) {
    .students__header {
        margin-bottom: 22px;
        padding-left: 20px;
        font-size: 30px;
    }

    .students__filters--wrapper {
        margin-bottom: 10px;
        padding: 0 20px;
    }
}