.container {
    margin: auto;
    max-width: 1180px;
    height: 100%;
}

.input {
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
}