.input {
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
}

.filters {
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    gap: 20px;
}

.filters__input {
    padding: 15px 0 14.48px 55px;
    width:  100%;
    min-height: 48px;
    background-image: url(../../assets/svg/search-icon.svg);
    background-size: 19px;
    background-position: 20px 15px;
    background-repeat: no-repeat;
}

.filters__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}